<div class="login-wrapper">
    <div class="card">
        <div class="card-body">
            <form class="form-signin" (ngSubmit)="onSubmit()" [formGroup]="userForm">
                <img class="mb-4">
                <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
                <label for="inputEmail" class="sr-only">Email address</label>
                <input type="email" id="inputEmail" name="email" class="form-control" formControlName="email" placeholder="Email address">
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" id="inputPassword" name="password" formControlName="password"  class="form-control" placeholder="Password">
                <button class="btn btn-lg btn-primary btn-block" [disabled]="!userForm.valid">Sign in</button>
                <button class="btn btn-lg btn-primary:hover btn-block" routerLink="/register" style="margin-left: 16px">Register</button>
            </form>
        </div>
    </div>
</div>

